.heading{
    width: 100%;
    text-align: center;
    font-family: italianno, cursive;

    &--h1{
        color: $color-white;
        font-size: 6*$font-base;
        @include medium{
            font-size:8*$font-base;
        }
        @include large{
            font-size: 10*$font-base;
        }
    }

    &--h2{
        font-size: 5*$font-base;
    }

    &--h3{
        text-indent: 1.2*$font-base;
        text-align: left;
        font-size: 3*$font-base;
        
    }
}