.site-header{
    width: 100%;
    height: 100vh;
    background: url(../assets/img/img/start.jpeg);
    background-attachment: fixed;
    position: relative;
    font-family: 'Italianno', cursive;
    &__blackout{
        width: 100%;
        height: 100%;
        position: absolute;
    }
    &__nav{
        position: absolute;
        width: 60%;
        text-align: center;
        margin-top: 3*$grid-base;

    }
    &__h1{
        position: absolute;
        width: 100%;
        text-align: center;
        bottom: 40%;
    }
    &__button{
        position:absolute;
        bottom: 15%;
        margin: 0 auto;
        left: 0;
        right: 0;
    }

}